@import "tailwindcss";

body {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn, button.deselected {
    @apply uppercase tracking-wide font-semibold bg-transparent text-cyan-300 border border-cyan-400 rounded p-3
           hover:bg-cyan-500 hover:text-gray-100 duration-400 ease-in-out
           active:bg-cyan-600 active:shadow-sm active:shadow-cyan-400 active:duration-100;
}

.title {
    @apply mb-10 text-3xl font-bold text-cyan-400 text-center;
}

.list {
    @apply pl-8 marker:text-cyan-400 list-disc;
}

.emphasize {
    @apply text-cyan-400 font-semibold;
}

button.selected {
    @apply uppercase tracking-wide font-semibold bg-cyan-700 text-gray-100 border border-cyan-400 rounded p-3
           hover:bg-cyan-500 hover:text-gray-100 duration-400 ease-in-out
           active:bg-cyan-600 active:shadow-sm active:shadow-cyan-400 active:duration-100;
}

.description-tooltip {
    @apply absolute bottom-full left-1/2 transform -translate-x-1/2 mb-2 w-max px-2 py-1 text-base text-gray-100 bg-gray-700
           rounded shadow-lg opacity-0 group-hover:opacity-100
}

.textfield {
    @apply border border-cyan-700 p-3 rounded focus:border-cyan-400
}

div.selected {
    @apply text-cyan-300
}

a {
    @apply text-gray-100 underline hover:text-cyan-300 visited:text-cyan-400
}
